# Flutter/Dart
.dart_tool/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
# Build
/build/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
*.lock
# Logs
*.log
# Firebase
google-services.json
GoogleService-Info.plist

